<h1>My Portfolio</h1>

<h3>Search for Stocks</h3>
<div id="stock_lookup">
  <%= form_tag search_stocks_path, method: :get, id: "stock_lookup-form" do %>
    <div class="form-group row no-padding text-center col-md-12">
      <div class="col-md-10">
        <%= text_field_tag :stock, params[:stock], placeholder: "Stock Ticker Symbol", autofocus: true,
                                  class: "form-control search-box input-lg" %>
      </div>
      <div class="col-md-2">
        <%= button_tag(type: :submit, class: "btn btn-lg btn-success") do %>
        <i class="fa fa-search"></i> Look up a stock
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<% if @stock %>
  <div class="well results_block">
    <strong>Symbol:</strong><%= @stock.ticker %>
    <strong>Name:</strong><%= @stock.name %>
    <strong>Price:</strong><%= @stock.last_price %>
  </div>
<% end %>